name: Deploy Expense Manager Frontend Code

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4


      - name: Deploy Via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          debug: true
          envs: SERVER_IP
          script: |
            cd /home/ubuntu/expense-manager-frontend
            git pull origin main

            cat <<EOF > .env
            VITE_ANALYTICS_URL=http://${SERVER_IP}:8501/
            EOF

            /home/ubuntu/.nvm/versions/node/v23.2.0/bin/pm2 restart frontend-app
